In [1]:
import numpy as np
import read_video, raster_scan2
import pandas as pd
import SpatialDE
import NaiveDE

In [2]:
# Convert video into grayscale 3D array
array_3d = read_video.read_video("/Users/BrittanyDorsey/Desktop/my-notebook/OrNet-Data/DsRed2-HeLa_10_26_Cell0.mov")

# Convert 3D array into 2D array (F, H * W)
array_2d = raster_scan2.raster_scan(array_3d[1])

# Save as csv file
np.savetxt(array_3d[0] + str('.csv'), array_2d, delimiter=',')

# This csv file is now ready for SpatialDE

/anaconda3/lib/python3.6/site-packages/skimage/util/dtype.py:122: UserWarning: Possible precision loss when converting from float64 to uint8
  .format(dtypeobj_in, dtypeobj_out))

In [3]:
array_3d[1].shape

(134, 512, 512)

In [4]:
array_2d.shape

(134, 262144)

In [6]:
df = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/ornet-reu-2018/src/DsRed2-HeLa_10_26_Cell0.csv")

In [7]:
df.shape

(133, 262144)

In [8]:
sample_info = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/ornet-reu-2018/sample_info/sample_info_DsRed2-HeLa_10_26_Cell0.csv")
sample_info.shape

(133, 2)

In [9]:
X = sample_info[['frame_num']]
X.shape

(133, 1)

In [10]:
dfm = NaiveDE.stabilize(df)
dfm.shape

(133, 262144)

In [11]:
results = SpatialDE.run(X, dfm)
results.to_csv('results_DsRed2-HeLa_10_26_Cell0.csv')
results.head()

INFO:root:Performing DE test
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 1.1s
INFO:root:Fitting gene models
INFO:root:Model 1 of 10
INFO:root:Model 2 of 10
INFO:root:Model 3 of 10
INFO:root:Model 4 of 10
INFO:root:Model 5 of 10
INFO:root:Model 6 of 10
INFO:root:Model 7 of 10
INFO:root:Model 8 of 10
INFO:root:Model 9 of 10
INFO:root:Model 10 of 10

,FSV,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,model,n,s2_FSV,s2_logdelta,time,BIC,max_ll_null,LLR,pval,qval
0,2.056949e-09,4,0.000000000000000000e+00.80408,0.5,4.851652e+08,-50.551232,-4.048768,3.404560e-08,SE,133,61.561951,1.053516e+19,0.002020,120.663861,-50.553121,0.001889,0.965331,0.052692
1,2.056949e-09,4,0.000000000000000000e+00.80409,0.5,4.851652e+08,-50.551232,-4.048768,3.404560e-08,SE,133,61.561951,1.053516e+19,0.002006,120.663861,-50.553121,0.001889,0.965331,0.052692
2,2.056949e-09,4,0.000000000000000000e+00.80410,0.5,4.851652e+08,-50.551232,-4.048768,3.404560e-08,SE,133,61.561951,1.053516e+19,0.001997,120.663861,-50.553121,0.001889,0.965331,0.052692
3,2.056949e-09,4,0.000000000000000000e+00.80411,0.5,4.851652e+08,-50.551232,-4.048768,3.404560e-08,SE,133,61.561951,1.053516e+19,0.002187,120.663861,-50.553121,0.001889,0.965331,0.052692
4,2.056949e-09,4,0.000000000000000000e+00.80412,0.5,4.851652e+08,-50.551232,-4.048768,3.404560e-08,SE,133,61.561951,1.053516e+19,0.002013,120.663861,-50.553121,0.001889,0.965331,0.052692

In [12]:
ms_results = SpatialDE.model_search(X, dfm, results)
ms_results.to_csv('MS_results_DsRed2-HeLa_10_26_Cell0.csv')
ms_results.head()

INFO:root:Performing model search
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 0.048s
INFO:root:Fitting gene models
INFO:root:Model 1 of 11
INFO:root:Model 2 of 11
INFO:root:Model 3 of 11
INFO:root:Model 4 of 11
INFO:root:Model 5 of 11
INFO:root:Model 6 of 11
INFO:root:Model 7 of 11
INFO:root:Model 8 of 11
INFO:root:Model 9 of 11
INFO:root:Model 10 of 11
INFO:root:Model 11 of 11

,BIC,FSV,LLR,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,...,n,s2_FSV,s2_logdelta,time,PER_prob,SE_prob,linear_prob,pval,qval,max_ll_null
0,115.773512,1.730543e-10,NaN,3,0.000000000000000000e+00.80408,NaN,4.851652e+08,-50.551232,-4.048768,3.404559e-08,...,133,0.000029,6.946786e+14,0.003193,0.007407,0.007407,0.985185,0.965331,0.052692,-50.553121
1,115.773512,1.730543e-10,NaN,3,0.000000000000000000e+00.80409,NaN,4.851652e+08,-50.551232,-4.048768,3.404559e-08,...,133,0.000029,6.946786e+14,0.002965,0.007407,0.007407,0.985185,0.965331,0.052692,-50.553121
2,115.773512,1.730543e-10,NaN,3,0.000000000000000000e+00.80410,NaN,4.851652e+08,-50.551232,-4.048768,3.404559e-08,...,133,0.000029,6.946786e+14,0.003691,0.007407,0.007407,0.985185,0.965331,0.052692,-50.553121
3,115.773512,1.730543e-10,NaN,3,0.000000000000000000e+00.80411,NaN,4.851652e+08,-50.551232,-4.048768,3.404559e-08,...,133,0.000029,6.946786e+14,0.003947,0.007407,0.007407,0.985185,0.965331,0.052692,-50.553121
4,115.773512,1.730543e-10,NaN,3,0.000000000000000000e+00.80412,NaN,4.851652e+08,-50.551232,-4.048768,3.404559e-08,...,133,0.000029,6.946786e+14,0.003812,0.007407,0.007407,0.985185,0.965331,0.052692,-50.553121

In [13]:
results.shape

(262144, 18)

In [14]:
ms_results.shape

(262144, 21)