In [1]:
import numpy as np
import read_video, raster_scan2
import pandas as pd
import SpatialDE
import NaiveDE

In [2]:
# Convert video into grayscale 3D array
array_3d = read_video.read_video("/Users/BrittanyDorsey/Desktop/my-notebook/OrNet-Data/DsRed2-HeLa_10_26_Cell1.mov")

# Convert 3D array into 2D array (F, H * W)
array_2d = raster_scan2.raster_scan(array_3d[1])

# Save as csv file
np.savetxt(array_3d[0] + str('.csv'), array_2d, delimiter=',')

# This csv file is now ready for SpatialDE

/anaconda3/lib/python3.6/site-packages/skimage/util/dtype.py:122: UserWarning: Possible precision loss when converting from float64 to uint8
  .format(dtypeobj_in, dtypeobj_out))

In [3]:
array_2d.shape

(134, 262144)

In [4]:
df = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/ornet-reu-2018/src/DsRed2-HeLa_10_26_Cell1.csv")
df.shape

(133, 262144)

In [5]:
sample_info = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/ornet-reu-2018/sample_info/sample_info_DsRed2-HeLa_10_26_Cell1.csv")
sample_info.shape

(133, 2)

In [6]:
X = sample_info[['frame_num']]
X.shape

(133, 1)

In [7]:
dfm = NaiveDE.stabilize(df)
dfm.shape

(133, 262144)

In [8]:
results = SpatialDE.run(X, dfm)
results.to_csv('results_DsRed2-HeLa_10_26_Cell1.csv')
results.head()

INFO:root:Performing DE test
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 3.3s
INFO:root:Fitting gene models
INFO:root:Model 1 of 10
INFO:root:Model 2 of 10
INFO:root:Model 3 of 10
INFO:root:Model 4 of 10
INFO:root:Model 5 of 10
INFO:root:Model 6 of 10
INFO:root:Model 7 of 10
INFO:root:Model 8 of 10
INFO:root:Model 9 of 10
INFO:root:Model 10 of 10

,FSV,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,model,n,s2_FSV,s2_logdelta,time,BIC,max_ll_null,LLR,pval,qval
0,2.056949e-09,4,0.000000000000000000e+00.139410,0.5,4.851652e+08,-47.207754,-3.946026,3.233991e-08,SE,133,61.561951,1.053516e+19,0.002411,113.976905,-47.209643,0.001889,0.965331,0.074318
1,2.056949e-09,4,0.000000000000000000e+00.139411,0.5,4.851652e+08,-47.207754,-3.946026,3.233991e-08,SE,133,61.561951,1.053516e+19,0.002337,113.976905,-47.209643,0.001889,0.965331,0.074318
2,2.056949e-09,4,0.000000000000000000e+00.139412,0.5,4.851652e+08,-47.207754,-3.946026,3.233991e-08,SE,133,61.561951,1.053516e+19,0.002350,113.976905,-47.209643,0.001889,0.965331,0.074318
3,2.056949e-09,4,0.000000000000000000e+00.139413,0.5,4.851652e+08,-47.207754,-3.946026,3.233991e-08,SE,133,61.561951,1.053516e+19,0.002652,113.976905,-47.209643,0.001889,0.965331,0.074318
4,2.056949e-09,4,0.000000000000000000e+00.139426,0.5,4.851652e+08,-269.212204,-2.819307,2.329806e-08,SE,133,509.505819,8.719224e+19,0.001138,557.985805,-269.214094,0.001889,0.965331,0.074318

In [9]:
ms_results = SpatialDE.model_search(X, dfm, results)
ms_results.to_csv('MS_results_DsRed2-HeLa_10_26_Cell1.csv')
ms_results.head()

INFO:root:Performing model search
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 0.52s
INFO:root:Fitting gene models
INFO:root:Model 1 of 11
INFO:root:Model 2 of 11
INFO:root:Model 3 of 11
INFO:root:Model 4 of 11
INFO:root:Model 5 of 11
INFO:root:Model 6 of 11
INFO:root:Model 7 of 11
  5%|▌         | 13592/262144 [00:38<11:41, 354.18it/s]/anaconda3/lib/python3.6/site-packages/SpatialDE/base.py:175: RuntimeWarning: divide by zero encountered in double_scalars
  s2_logdelta = 1. / (derivative(LL_obj, np.log(max_delta), n=2) ** 2)
INFO:root:Model 8 of 11
INFO:root:Model 9 of 11
INFO:root:Model 10 of 11
INFO:root:Model 11 of 11

,BIC,FSV,LLR,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,...,n,s2_FSV,s2_logdelta,time,PER_prob,SE_prob,linear_prob,pval,qval,max_ll_null
0,109.086556,1.730543e-10,NaN,3,0.000000000000000000e+00.139410,NaN,4.851652e+08,-47.207754,-3.946026,3.233991e-08,...,133,0.000016,3.975712e+14,0.004747,0.007407,0.007407,0.985185,0.965331,0.074318,-47.209643
1,109.086556,1.730543e-10,NaN,3,0.000000000000000000e+00.139411,NaN,4.851652e+08,-47.207754,-3.946026,3.233991e-08,...,133,0.000016,3.975712e+14,0.002368,0.007407,0.007407,0.985185,0.965331,0.074318,-47.209643
2,109.086556,1.730543e-10,NaN,3,0.000000000000000000e+00.139412,NaN,4.851652e+08,-47.207754,-3.946026,3.233991e-08,...,133,0.000016,3.975712e+14,0.002580,0.007407,0.007407,0.985185,0.965331,0.074318,-47.209643
3,109.086556,1.730543e-10,NaN,3,0.000000000000000000e+00.139413,NaN,4.851652e+08,-47.207754,-3.946026,3.233991e-08,...,133,0.000016,3.975712e+14,0.002353,0.007407,0.007407,0.985185,0.965331,0.074318,-47.209643
4,553.095456,1.730543e-10,NaN,3,0.000000000000000000e+00.139426,NaN,4.851652e+08,-269.212204,-2.819307,2.329806e-08,...,133,0.000033,8.000764e+14,0.002841,0.015887,0.007344,0.976769,0.965331,0.074318,-269.214094

In [10]:
results.shape

(262144, 18)

In [11]:
ms_results.shape

(262144, 21)