In [ ]:
# Successful run of SpatialDE, results in data folder

In [2]:
import numpy as np
import pandas as pd
import SpatialDE
import NaiveDE

In [8]:
sample_info = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/sample_info.csv")
sample_info.head()

   frame_num  num_pixels
0          1      262144
1          2      262144
2          3      262144
3          4      262144
4          5      262144

In [4]:
sample_info.shape

(132, 1)

In [5]:
df = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/src/DsRed2-HeLa_2_21_LLO_Cell0.csv")
df.head()

,0.000000000000000000e+00,0.000000000000000000e+00.1,0.000000000000000000e+00.2,0.000000000000000000e+00.3,0.000000000000000000e+00.4,0.000000000000000000e+00.5,0.000000000000000000e+00.6,0.000000000000000000e+00.7,0.000000000000000000e+00.8,0.000000000000000000e+00.9,...,0.000000000000000000e+00.239683,0.000000000000000000e+00.239684,0.000000000000000000e+00.239685,0.000000000000000000e+00.239686,0.000000000000000000e+00.239687,0.000000000000000000e+00.239688,0.000000000000000000e+00.239689,0.000000000000000000e+00.239690,0.000000000000000000e+00.239691,0.000000000000000000e+00.239692
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.shape

(132, 262144)

In [9]:
X = sample_info[['frame_num']]
X.shape

(132, 1)

In [10]:
dfm = NaiveDE.stabilize(df)
dfm.shape

(132, 262144)

In [ ]:
results = SpatialDE.run(X, dfm)
results.to_csv('results_DsRed2-HeLa_2_21_LLO_Cell0.csv')

INFO:root:Performing DE test
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 0.76s
INFO:root:Fitting gene models
INFO:root:Model 1 of 10
INFO:root:Model 2 of 10
INFO:root:Model 3 of 10
INFO:root:Model 4 of 10
INFO:root:Model 5 of 10
INFO:root:Model 6 of 10
INFO:root:Model 7 of 10
INFO:root:Model 8 of 10
INFO:root:Model 9 of 10
INFO:root:Model 10 of 10
 88%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š | 231579/262144 [11:29<01:30, 335.99it/s]

In [ ]:
results.head()

In [ ]:
de_results = results[(results.qval < 0.05)].copy()
ms_results = SpatialDE.model_search(X, dfm, de_results)
ms_results.to_csv('MS_results_DsRed2-HeLa_2_21_LLO_Cell0.csv')

In [ ]:
ms_results.head()