In [ ]:
# Full process of SpatialDE, from video to results file, model search done without the pre-processing

In [2]:
import numpy as np
import read_video, raster_scan2
import pandas as pd
import SpatialDE
import NaiveDE

In [3]:
# Convert video into grayscale 3D array
array_3d = read_video.read_video("/Users/BrittanyDorsey/Desktop/my-notebook/OrNet-Data/DsRed2-HeLa_4_5_LLO1_Cell0.mov")

# Convert 3D array into 2D array (F, H * W)
array_2d = raster_scan2.raster_scan(array_3d[1])

# Save as csv file
np.savetxt(array_3d[0] + str('.csv'), array_2d, delimiter=',')

# This csv file is now ready for SpatialDE

/anaconda3/lib/python3.6/site-packages/skimage/util/dtype.py:122: UserWarning: Possible precision loss when converting from float64 to uint8
  .format(dtypeobj_in, dtypeobj_out))

In [4]:
array_3d[1].shape

(121, 512, 512)

In [5]:
array_2d.shape

(121, 262144)

In [6]:
df = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/src/DsRed2-HeLa_4_5_LLO1_Cell0.csv")

In [7]:
df.shape

(120, 262144)

In [12]:
sample_info = pd.read_csv("/Users/BrittanyDorsey/Desktop/my-notebook/MyRepo/data/sample_info_DsRed2-HeLa_4_5_LLO1_Cell0.csv")
sample_info.head()

   frame_num  num_pixels
0          1      262144
1          2      262144
2          3      262144
3          4      262144
4          5      262144

In [13]:
sample_info.shape

(120, 2)

In [14]:
X = sample_info[['frame_num']]
X.shape

(120, 1)

In [15]:
dfm = NaiveDE.stabilize(df)
dfm.shape

(120, 262144)

In [16]:
results = SpatialDE.run(X, dfm)
results.to_csv('results_DsRed2-HeLa_4_5_LLO1_Cell0.csv')
results.head()

INFO:root:Performing DE test
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 1.3s
INFO:root:Fitting gene models
INFO:root:Model 1 of 10
INFO:root:Model 2 of 10
INFO:root:Model 3 of 10
INFO:root:Model 4 of 10
INFO:root:Model 5 of 10
INFO:root:Model 6 of 10
INFO:root:Model 7 of 10
INFO:root:Model 8 of 10
INFO:root:Model 9 of 10
INFO:root:Model 10 of 10

,FSV,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,model,n,s2_FSV,s2_logdelta,time,BIC,max_ll_null,LLR,pval,qval
0,2.056493e-09,4,0.000000000000000000e+00.102536,0.5,4.851652e+08,-54.817657,-4.15294,3.584943e-08,SE,120,61.263111,1.048866e+19,0.099319,128.785281,-54.819752,0.002095,0.963493,0.039628
1,2.056493e-09,4,0.000000000000000000e+00.102537,0.5,4.851652e+08,-54.817657,-4.15294,3.584943e-08,SE,120,61.263111,1.048866e+19,0.001692,128.785281,-54.819752,0.002095,0.963493,0.039628
2,2.056493e-09,4,0.000000000000000000e+00.102538,0.5,4.851652e+08,-54.817657,-4.15294,3.584943e-08,SE,120,61.263111,1.048866e+19,0.001639,128.785281,-54.819752,0.002095,0.963493,0.039628
3,2.056493e-09,4,0.000000000000000000e+00.102539,0.5,4.851652e+08,-54.817657,-4.15294,3.584943e-08,SE,120,61.263111,1.048866e+19,0.001645,128.785281,-54.819752,0.002095,0.963493,0.039628
4,2.056493e-09,4,0.000000000000000000e+00.102540,0.5,4.851652e+08,-54.817657,-4.15294,3.584943e-08,SE,120,61.263111,1.048866e+19,0.001637,128.785281,-54.819752,0.002095,0.963493,0.039628

In [17]:
ms_results = SpatialDE.model_search(X, dfm, results)
ms_results.to_csv('MS_results_DsRed2-HeLa_4_5_LLO1_Cell0.csv')
ms_results.head()

INFO:root:Performing model search
INFO:root:Pre-calculating USU^T = K's ...
INFO:root:Done: 0.074s
INFO:root:Fitting gene models
INFO:root:Model 1 of 11
INFO:root:Model 2 of 11
INFO:root:Model 3 of 11
INFO:root:Model 4 of 11
INFO:root:Model 5 of 11
INFO:root:Model 6 of 11
INFO:root:Model 7 of 11
INFO:root:Model 8 of 11
INFO:root:Model 9 of 11
INFO:root:Model 10 of 11
INFO:root:Model 11 of 11

,BIC,FSV,LLR,M,g,l,max_delta,max_ll,max_mu_hat,max_s2_t_hat,...,n,s2_FSV,s2_logdelta,time,PER_prob,SE_prob,linear_prob,pval,qval,max_ll_null
0,123.997789,1.731942e-10,NaN,3,0.000000000000000000e+00.102536,NaN,4.851652e+08,-54.817657,-4.15294,3.584943e-08,...,120,0.000083,2.013133e+15,0.005405,0.008257,0.008196,0.983547,0.963493,0.039628,-54.819752
1,123.997789,1.731942e-10,NaN,3,0.000000000000000000e+00.102537,NaN,4.851652e+08,-54.817657,-4.15294,3.584943e-08,...,120,0.000083,2.013133e+15,0.003362,0.008257,0.008196,0.983547,0.963493,0.039628,-54.819752
2,123.997789,1.731942e-10,NaN,3,0.000000000000000000e+00.102538,NaN,4.851652e+08,-54.817657,-4.15294,3.584943e-08,...,120,0.000083,2.013133e+15,0.003271,0.008257,0.008196,0.983547,0.963493,0.039628,-54.819752
3,123.997789,1.731942e-10,NaN,3,0.000000000000000000e+00.102539,NaN,4.851652e+08,-54.817657,-4.15294,3.584943e-08,...,120,0.000083,2.013133e+15,0.003872,0.008257,0.008196,0.983547,0.963493,0.039628,-54.819752
4,123.997789,1.731942e-10,NaN,3,0.000000000000000000e+00.102540,NaN,4.851652e+08,-54.817657,-4.15294,3.584943e-08,...,120,0.000083,2.013133e+15,0.002454,0.008257,0.008196,0.983547,0.963493,0.039628,-54.819752

In [18]:
results.shape

(262144, 18)

In [19]:
ms_results.shape

(262144, 21)